@import 'libs/bootstrap-reboot.min';
@import "base/variables";
@import "base/mixins";
@import "blocks/promo";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');
@import "blocks/title";
@import "blocks/sidepanel";
@import "blocks/about_me";
@import "blocks/resume";
@import "blocks/techn";


* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.container{
    width: 1140px;
    margin: 0 auto;
}

.devider{
    width: 60px;
    height: 0px;
    border: 2px solid #0094FF;
    background-color: $main-color;
    margin: 25px auto 0 auto;
}