@import 'libs/bootstrap-reboot.min';
@import "base/_mixins";
@import "base/_variables";
@import "blocks/promo";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');
@import "blocks/title";


* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.container{
    width: 1140px;
    margin: 0 auto;
}